{% extends 'base.html' %}
{% load static %}

    {% block sidebarcategory %}
    {% include 'components/sidebarcategory.html' %}
    {% endblock sidebarcategory %}
{% block content %}
{% block profile %}
{% include 'components/profile.html'%}
{% endblock profile %}


<div class="bg-white">
  <div >
    <!--
      Mobile filter dialog

      Off-canvas filters for mobile, show/hide based on off-canvas filters state.
    -->


    <main class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class=" z-10 flex items-baseline justify-between pt-24 pb-6 border-b border-gray-200" x-data="{ category: false }">
        <h1 class="text-4xl font-extrabold tracking-tight text-gray-900">MarketBook</h1>

        
      </div>

      <section aria-labelledby="products-heading" class="pt-6 pb-24">
        <h2 id="products-heading" class="sr-only">Products</h2>

        <div class="grid grid-cols-1 lg:grid-cols-4 gap-x-8 gap-y-10">
          <!-- Filters -->
          <form class="hidden lg:block">
            <h3 class="sr-only">Categories</h3>
            <ul role="list" class="text-sm font-medium text-gray-900 space-y-4 pb-6 border-b border-gray-200">
              <li>
                <a href="#">
                  Todos
                </a>
              </li>
{% for cat in categories %}
<li>
  <a href="#">
    {{cat}}
  </a>
</li>
{% endfor %}
             
            </ul>

            
          </form>

          <!-- Product grid -->
          <div class="lg:col-span-3">
            <!-- Replace with your content -->
            <div class="border-4 border-dashed border-gray-200 rounded-lg h-96 lg:h-full"></div>
            <!-- /End replace -->
          </div>
        </div>
      </section>
    </main>
  </div>
</div>


{% endblock content %}

{% block footer %}
{% include 'components/footer.html' %}
{% endblock footer %}


{% block javascript %}

{% endblock javascript %}